.profile-pic{
	width:75%;
	margin-top: 1cm;
}
.card-title{
	font-family:"georgia"
}
.card-text{
	font-family:"georgia"
}
.about{
	font-family: "georgia"

}
.card-title{
	font-family: "georgia"
 	line-height: 2;
	text-align: center;

}
.no-border{
	border:0;
}
.no-border2{
	border:0;
}
ul {
	font-family: "georgia";
        width: 100%;
}
.card-title{
 	text-align:center;
 }
 .martinjamesroberts{
  margin-top: 2cm;
}
.navbar {
	
}